html,body,table,div{
    padding:0;
    margin: 0;
    height: 100%;
}
.header{
    width:100%;
    height: 60px;
    background-color: #000;
    color: #FFF;
}
.title{
    float: left;
}
.userName{
    float: right;
}
.header span {
    line-height: 60px;
    padding: 0 20px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.header a{
    color:#999;
}

.container{
    padding-bottom: 40px;
}

.container table{
    width:100%;
}
.container td,.container th{
    text-align: center;
    border-top:1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-spacing: 0;
    color: #999;
}
.container th{
    height: 40px;
    line-height: 40px;
    background-color: #d9edf7;
    color:#31708f;
}
.container th:first-child{
    border-left: none;
}

.container tr:last-child td{
    border-bottom: 1px solid #dfdfdf;
}

.container td:first-child{
    border-left: none;
}

.container td{
    padding: 14px 0;
}
.btn{
    padding: 6px 12px;
    background-color: #337ab7;
    border-color: #2e6da4;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    font-size:14px;
    cursor: pointer!important;
}

.container table .btn{
    display: inline-block;
    margin: 10px auto 0 auto;
}

.box{
    margin-top:30px;
}
.box input{
    margin: 0 auto;
    display: block;
    width:450px;
}
.box button{
    margin: 0 auto;
    display: block;
    background-color: #3385ff;
    color:#fff;
}
.form-input{
    border-radius: 3px;
    height: 24px;
    padding:4px 12px;
    font-size:16px;
    border:1px solid #999;
}
.form-btn{
    height: 32px;
    padding:4px 12px;
    border:none;
    font-size:16px;
    border-radius: 3px;
    background-color: #ccc;
    outline:none;
}
.split{
    margin-top: 40px;
    padding-top: 40px;
    border-top:1px solid #ccc;
}
.warn{
    width:60%;
    color:#999;
    margin: 20px auto 0 auto;
    line-height: 30px;
}

.breadcrumb .navigation{
    color:#999;
    height:34px;
    line-height: 34px;
    font-size:14px;
    margin-top: 8px;
    float:left;
}
.breadcrumb .btn{
    height:24px;
    line-height: 24px;
    margin-top:8px;
    float:right;
}
.breadcrumb:after{
    content:'';
    width:0;
    height:0;
    display: block;
    clear: both;
}
.breadcrumb{
    height:50px;
    /*background-color: #efefef;*/
    padding:0 2%;
}
.breadcrumb .navigation a{
    color:#31708f;
}
.breadcrumb .btn a{
    color:#fff;
}

.queueOption{
    padding:20px 2%;
    font-size:14px;
    color:#999;
    border-top:1px solid #dfdfdf;
}
.queueOption .off{
    background-color: #f00;
}

.queueOption .status span{
    width:12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}
.queueOption .on{
    background-color: #0f0;
}

.queueOption .btn{
    width:80px;
    margin-left:20px;
}
.queueOption div{
    float:left;
}
.queueOption .status{
    line-height: 32px;
    margin-right: 40px;
}

.clearfix:after{
    width:0;
    height: 0;
    content:'';
    display: block;
    clear: both;
}

.btn-danger{
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-success{
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.queueOption .big-btn{
    width:120px;
    margin-left:80px;
}