html,body{
    padding:0;
    margin: 0;
    height: 100%;
}
.title{
    color:#fff;
    text-align: center;
    font-size:22px;
}
.whole{
    background-color: #000;
    height: 100%;
}
.container{
    width:90%;
    margin: 0 auto;
    padding-top:10%;
}
.box{
    margin-top:30px;
}
.box input{
    margin: 0 auto;
    display: block;
    width:450px;
}
.box button{
    margin: 0 auto;
    display: block;
    background-color: #3385ff;
    color:#fff;
}
.form-input{
    border-radius: 3px;
    height: 24px;
    padding:4px 12px;
    font-size:16px;
    border:none;
}
.form-btn{
    height: 32px;
    padding:4px 12px;
    border:none;
    font-size:16px;
    border-radius: 3px;
    background-color: #ccc;
    outline:none;

}