<!DOCTYPE html>
<html lang="en">
<head>
    {{include='Base/header'}}
    <link rel="stylesheet" type="text/css" href="{{CSS_PATH}}index.css?v={{$version}}">
</head>
<body>
   <div class="whole">
       {{include='Base/common'}}
       <section class="container item-group">
           <section class="item">
               <item>
                   <a href="/index/Redis/index?{{$xdebug}}">队列</a>
               </item>
           </section>
           <section class="item">
               <item>
                   API
               </item>
           </section>
           <section class="item">
               <item>
                   ES
               </item>
           </section>
           <section class="item">
               <item>
                   REDIS
               </item>
           </section>
           <section class="item">
               <item>
                   系统配置
               </item>
           </section>
       </section>
   </div>
</body>
</html>