<!DOCTYPE html>
<html lang="en">
<head>
    {{include='Base/header'}}
</head>
<body>
   <div class="whole">
       {{include='Base/common'}}
       <section class="breadcrumb">
           <div class="navigation"><a href="/">HOME</a> >> 队列列表</div>
           <div class="btn"><a href="/index/redis/edit">新增队列</a></div>
       </section>
       <section class="queueOption clearfix">
           <div class="status">主进程状态：<span class="{{$queueStatus}}"></span></div>
           <div class="btn">重启进程</div>
           <div class="btn btn-danger">关闭进程</div>
           <div class="btn big-btn btn-success">查看主进程日志</div>
       </section>
       <section class="container">
           <table cellpadding="0" cellspacing="0">
               <thead>
                 <th>进程名</th>
                 <th>Redis Key</th>
                 <th>当前进程情况</th>
                 <th>单进程消费上限</th>
                 <th>日常基础进程数</th>
                 <th>最大进程数</th>
                 <th>操作</th>
               </thead>
               <tbody>
                   {{$tableString}}
               </tbody>
           </table>
       </section>
   </div>
</body>
</html>